:root {
  --white: #FFFFFF;

  --background: #F5F8FA;
  
  --gray: #DCE2E5;
  --gray-50: #DDE9F0;
  --gray-100: #A0ACB2;
  --gray-200: #617480;

  --blue-600: #115D8C;
  --blue-700: #123952;
  
  --orange-100: #F25D27;

  --red-200: #DE3838;

  --green-300: #51B853;
}